.projects {
    width: 100%;
    background: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;

    .projects-title {
        font-size: 50px;
    }

    .projects-list {
        width: calc(100% - 20px*2);
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;

        .project {
            position: relative;
            padding: 10px;
            border-radius: 15px;
            background: #37373f;
            color: white;
            min-width: 100px;
            cursor: pointer;
            overflow: hidden;

            .project-head {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                .project-head-left {
                    a {
                        font-size: 25px;
                    }
                }
                .project-head-right {
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            .project-body {
                .project-body-stars {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 5px;
                }
            }

            .project-languages-color {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 5px;
                background: white;
            }
        }
    }
}