<div class="skills">
    <div class="skills-title">
        <a>Skills</a>
    </div>
    <div class="skills-list">
        @for(skill of skills; track skill){
            <div class="skill">
                <div class="background-right">
                    <img src="{{ skill.background }}" draggable="false" alt="skill-background"/>
                </div>
                <div class="content-left">
                    <div class="skill-head">
                        <div class="skill-head-title">
                            <a>{{ skill.name }}</a>
                        </div>
                        <div class="skill-head-method">
                            <a>{{ skill.method }}</a>
                        </div>
                    </div>
                    <div class="skill-knowledges">
                        @for(knowledge of skill.knowledges; track knowledge){
                            <app-skill-badge [type]="knowledge"></app-skill-badge>
                        }
                        @for(knowledge of skill.softwares; track knowledge){
                            <app-skill-badge [type]="knowledge"></app-skill-badge>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>