
@media screen and (max-width: 700px) {
    .skills {
        .skills-title {
            font-size: 50px;
        }

        .skills-list {
            .skill {
                display: flex;
                flex-direction: column;

                .content-left {
                    position: relative;
                    width: calc(100% - 20px*2);
                    top: -200px;
                    box-shadow: 0px 0px 100px 100px black;
                    min-height: 50vh;

                    .skill-head {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 30px;

                        .skill-head-method {

                        }
                    }
                }

                .background-right {
                    position: relative;
                    top: 0;
                    height: 50vh;
                    user-select: none;
                }
            }
        }
    }
}