<div class="lp-main">
    <div class="lp-background"></div>
    <div class="lp-content">
        <div class="lp-content-head">
            <app-teletype-animation #intro_teletype></app-teletype-animation>
        </div>
        <div class="lp-content-me">
            <div class="lp-title">
                <a>I'm {{ name }}</a>                
            </div>
            <div class="description">
                <span>
                    {{ description }}
                </span>
            </div>
        </div>
        <div class="lp-content-social">
        </div>
        <div class="lp-content-contact">
            
        </div>
    </div>
</div>